/* Reset Css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Archivo", sans-serif;
}

/* Aviso */
.notice {
  background-color: #f3f7ff;
  padding: 0.75rem 0;
}

.notice p {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: #121214;
}

/* Header */

header {
  background-image: url("../img/image-michael-jordan.webp");
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 22.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1.5rem;
}

header img {
  width: 8.875rem;
  margin-bottom: 2.5rem;
}

.header-info {
  color: #f3f7ff;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.header-info h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f3f7ff;
}

.header-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  color: #f3f7ff;

  max-width: 20.5rem;
}

/* Section */

section {
  padding: 3.5rem 1.5rem;
}

.section-container h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #121214;
  margin-bottom: 0.75rem;
}

section > p {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  line-height: 19.6px;
  color: #121214;

  max-width: 19.9375rem;
  margin: 0 auto 2.5rem auto;
}



.sneakers-container{
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  gap: 2.5rem;
}

.card .card-img{
  width: 100%;
  background: #f3f7ff;
  display: flex;
  align-items: center;
  
}


